.banner {
  // border: 1px solid green;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  justify-content: center;

  img {
    // border: 1px solid yellow;
    max-width: 100%;
    max-height: 25rem;
    object-fit: cover;
    width: 90rem;
    height: 25rem;
  }
}

.contentContainer {
  // border: 1px solid green;
  max-width: 1440px;
  margin: 0 auto;

  main {
    // border: 1px solid yellow;
    max-width: 721px;
    margin: 5rem auto;
    padding: 0 1.5rem;

    section {
      & + section {
        margin-top: 4rem;
      }

      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 3.625rem;
      }

      .info {
        display: flex;
        margin-top: 1.5rem;

        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        color: var(--gray-200);

        span {
          display: flex;
          align-items: center;

          & + span {
            margin-left: 1.5rem;
          }

          svg {
            width: 20px;
            height: 20px;

            margin-right: 0.5rem;
          }
        }

        & + div {
          margin-top: 1rem;

          font-style: italic;
          font-weight: normal;
          font-size: 0.875rem;
          line-height: 1.063rem;
          color: var(--gray-200);
        }
      }

      .content {
        margin-top: 4rem;

        h1 {
          font-style: normal;
          font-weight: bold;
          font-size: 2.25rem;
          line-height: 140%;
          text-align: justify;
        }

        div {
          margin-top: 2.25rem;

          & + h1 {
            margin-top: 2.25rem;
          }

          font-style: normal;
          font-weight: normal;
          font-size: 1.125rem;
          line-height: 140%;
          text-align: justify;

          color: var(--gray-100);

          p {
            & + p {
              margin-top: 1.125rem;
            }
          }
        }
      }
    }
  }

  footer {
    max-width: 721px;
    margin: 3.75rem auto 5rem;
    padding: 0 1.5rem;
    border-top: 1px solid rgba(215, 215, 215, 0.1);

    .navigation {
      margin-top: 3rem;
      margin-bottom: 5rem;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .previousPost,
      .nextPost {
        display: flex;
        flex-direction: column;

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 1.125rem;
          line-height: 1.375rem;
          letter-spacing: -0.5px;
          color: var(--white);
        }

        a {
          margin-top: 0.5rem;

          span {
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.188rem;
            letter-spacing: -0.5px;
            color: var(--rose-500);
          }
        }
      }

      .nextPost {
        align-items: flex-end;
      }
    }

    aside {
      height: 3.625rem;
      width: 100%;
      margin-top: 5rem;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 0.25rem;
      background: var(--white);

      a {
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.375rem;

        color: var(--gray-900);
      }
    }
  }
}
